%link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}

- u_min = 0.0
- v_min = 0.0
- u_max = 3.14/2
- v_max = 2*3.14

- angle_min = 0
- angle_max = 360
- angle_val = 0
- d_max = 50
- d_min = 1
- d_step = 1
- min_col = 0
- max_col = 255
- col_val = 121
- u_val = 100
- v_val = 10
- d_val = 20
- a_val = -3
- color_out = [123, 200, 20]
- color_in = [255,255,22]


#wrap
  #main
    %h2.alt Лабораторная работа по ИГС 1

    %canvas{ :id => 'canvas', :width => 600, :height => 400}
      Вот это ДА!
  #sidebar
    .surface_parameters
      %h3 Параметры поверхности
      %span
        #u
          %p u: #{u_val} &isin; [0...200]
        #v
          %p v: #{v_val} &isin; [0...200]
        #step_u
          %p du: #{d_val} &isin; [0...50]
        #step_v
          %p dv: #{d_val} &isin; [0...50]
        #a
          %p a:  #{a_val} &isin; [-10...10]

    .filling
      %h3 --
      %input{:type => 'radio', :id => 'frame', :name => 'filling', :value => 'frame', :checked => true} Каркас
      %input{:type => 'radio', :id => 'flat', :name => 'filling', :value => 'flat'} Flat - закраска
  #sidebar
    .angle_sliders
      %h3 Поворот поверхности
      #angle_x
        %p X: #{angle_val} &isin; [#{angle_min}...#{angle_max}]
      #angle_y
        %p Y: #{angle_val} &isin; [#{angle_min}...#{angle_max}]
      #angle_z
        %p Z: #{angle_val} &isin; [#{angle_min}...#{angle_max}]
  #footer
    .color_sliders
      .in_color
        %h3 Внутренний цвет
        #r
          %p r: #{col_val} &isin; [0...255]
        #g
          %p g: #{col_val} &isin; [0...255]
        #b
          %p b: #{col_val} &isin; [0...255]
        #in_color_show{ :style => "z-index: 1; left: 5px; top: 50px; width: 53px; height: 37px; background-color:rgb(255,255,22); layer-background-color:#003366; visibility: visible" }

      .out_color
        %h3 Внешний цвет
        #r
          %p r: #{col_val} &isin; [0...255]
        #g
          %p g: #{col_val} &isin; [0...255]
        #b
          %p b: #{col_val} &isin; [0...255]
        #out_color_show{ :style => "z-index: 1; left: 5px; top: 50px; width: 53px; height: 37px; background-color:rgb(123, 200, 20); layer-background-color:#003366; visibility: visible" }

